<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
          
        
    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Lightsaber
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </label>
</div>    
        
<button>Test</button>
        
    </ion-list>
     
      
  </ion-content>
    
        
    
</ion-view>
